
<div class="navigation">
  <div class="month">{{ pointer | date:'MMMM yyyy' }}</div>
</div>

<div id="days-row" [ngClass]="{'sticky': stickyMenu}">

  <div></div> <!-- TODO: Remove this line -->

  <div *ngFor="let day of days" class="day-cell noselect">
    <div class="day-label">{{ day.date | date: 'EEE' }}</div>
    <div class="day-number">{{ day.date | date: 'dd' }}</div>
    <div class="day-event" *ngFor="let event of getEventsForDay | memo: day : data">
      
      <div class="grid-detail">
          <i class="fas {{ event.icon }} selectable"></i>
          <label class="capa">{{ event.name }}</label>
      </div>
      
    </div>
  </div>

</div>

<div id="calendar-view" [ngClass]="{'menu-sticky': stickyMenu}">

  <div class="hours-template noselect">

    <div *ngFor="let hour of hours" class="hour-row">
      <div class="hour-label">{{hour}}</div>
      <div class="cell border" *ngFor="let day of days"></div>
    </div>

  </div>

  <div class="scheduler-grid">

    <div></div> <!-- TODO: Remove this line -->

    <div class="schedule-day" *ngFor="let day of days">

      <ng-container *ngFor="let schedule of (getSchedulesForDay | memo: day : data)">

          <div scheduleResize [schedulePosition]="schedule.time" class="schedule-wrapper">
            <div id="schedule-card" class="schedule">

              <div id="top-resize" class="resizable"></div>

              <div class="schedule-content noselect">
                <div>
                  <i class="fas {{ schedule.icon }}"></i>
                  <label>{{ schedule.time?.start | date: 'HH:mm' }} - {{ schedule.time?.end | date: 'HH:mm' }}</label>
                </div>
                <div class="name">{{ schedule.name }}</div>
                <div class="description">{{ schedule.description }}</div>
              </div>

              <div id="bottom-resize" class="resizable"></div>

            </div>
          </div>

      </ng-container>

    </div>
  </div>

</div>