<div class="navigation">
  <div class="month">{{ pointer | date:'MMMM yyyy' }}</div>
</div>

<div class="days-row" [ngClass]="{'sticky': sticky}">

  <div></div> <!-- TODO: Remove this line -->

  <div *ngFor="let day of days" class="day-cell">
    <div class="day-label">{{day.day}}</div>
    <div class="day-number">{{day.number}}</div>
    <div class="day-event">{{day.event?.name}}</div>
  </div>

</div>

<div class="calendar-view" [ngClass]="{'menu-sticky': sticky}">

  <div class="hours-template">

    <div *ngFor="let hour of hours" class="hour-row">
      <div class="hour-label">{{hour}}</div>
      <div class="cell border" *ngFor="let day of days"></div>
    </div>

  </div>

  <div class="scheduler-grid">

    <div></div> <!-- TODO: Remove this line -->

    <div class="schedule-day" *ngFor="let day of days">

      <ng-container *ngFor="let schedule of schedules">

          <div [schedulePosition]="schedule.time" class="schedule-wrapper">
            <div class="schedule">

              <div id="top-resize" class="resizable" draggable="true"
              (dragstart)="onDragStart($event)" 
              (drag)="onDrag($event, schedule.time)"
              (dragover)="onDragOver($event)" 
              (dragend)="onDragEnd($event)"></div>

              <p>{{ schedule.name }}</p>

              <div id="bottom-resize" class="resizable"></div>

            </div>
          </div>

      </ng-container>

    </div>
  </div>

</div>